<div class="show-user-page">
  <div class="container">
    <div class="row-header">
      <div class="col-full">
        <h1><%= @user.full_name %></h1>
        <h3><%= @user.email %></h3>
      </div>
    </div>

    <% if !current_user?( @user ) %>
      <div class="row-controls">
        <div class="col-full">
          <% if request = @user.pending_request( current_user ) %>
            <%= link_to 'Accept Request', accept_friend_path( :friendship_id => request.id ), :class => 'btn btn-primary', :method => 'post' %>
          <% elsif !@user.has_friend?( current_user ) %>
            <%= link_to 'Request Friend', add_friend_path( :friend_id => @user.id ), :class => 'btn btn-primary', :method => 'post' %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if current_user?( @user ) && @user.friend_requests.count > 0 %>
      <div class="row-pending-requests">
        <div class="col-full">
          <h3>Pending Requests</h3>
          <ul class="pending-requests-list">
            <% @user.friend_requests( :include_users => true ).sort_by( &:created_at ).each do |request| %>
              <li><%= request.user.full_name %> <%= link_to 'Accept', accept_friend_path( :friendship_id => request.id ), :method => :post %> <%= link_to 'Deny', deny_friend_path( :friendship_id => request.id ), :method => :post, :data => { :confirm => 'Are you sure?' } %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="row-info">
      <% if current_user?( @user ) || @user.has_friend?( current_user ) %>
      <div class="col-info">
        <h3>
          <%= current_user?( @user ) ? 'My' : "#{@user.first_name}'s" %> Friends
        </h3>
        <ul class="info-list">
          <% @user.friends.each do |friend| %>
            <li><%= link_to friend.full_name, user_path( friend ) %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <% if current_user?( @user ) || @user.has_friend?( current_user ) %>
      <div class="col-info">
        <h3>
          <%= current_user?( @user ) ? 'My' : "#{@user.first_name}'s" %> Gift Requests
        </h3>
        <ul class="info-list">
          <% @user.gift_requests.sort_by( &:created_at ).each do |gift_request| %>
            <li>
              <p class="name"><%= gift_request.name %></p>
              <p class="description"><%= gift_request.description %></p>
              <% if current_user?( @user ) %>
                <%= link_to 'Delete request', delete_gift_request_path( :gift_request_id => gift_request.id ), :method => :delete, :data => { :confirm => 'Really delete this? (This can not be undone)' } %>
              <% else %>
                <% if gift_request.purchased? %>
                  (Purchased)
                <% else %>
                  <%= link_to 'Mark Purchased', mark_gift_request_purchased_path( :gift_request_id => gift_request.id ), :method => :post, :class => 'mark-gift-purchased-link' %>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
        <% if current_user?( @user ) %>
          <%= form_for @user, :html => { :class => "form-centered", :onsubmit => "return checkGiftRequests( this );" } do |f| %>
            <div id="gift-requests"></div>
            <div class="form-group">
              <div class="col-submit">
                <%= link_to_add_fields 'Request Gift', f, :gift_requests, :layout_dir => 'users', :insert_element => '#gift-requests', :link_options => { :class => 'btn btn-submit' }  %>
                <%= f.submit 'Save Gift Requests', :class => 'btn btn-submit' %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <% end %>

      <% if !current_user?( @user ) && @user.has_friend?( current_user ) %>
      <div class="col-info">
        <h3>Gifts Purchased For <%= @user.full_name %></h3>
        <ul class="gift-list">
          <% @user.gifts.sort_by( &:created_at ).each do |gift| %>
            <li>
              <p class="name"><%= gift.name %></p>
              <p class="description"><%= gift.description %></p>
              <p class="buyer">Purchased by: <%= link_to gift.buyer.full_name, user_path( gift.buyer ) %></p>
            </li>
          <% end %>
        </ul>
        <%= form_for :gift, :url => buy_user_gift_path( :user_id => @user.id, :buyer_user_id => current_user.id ), :html => { :class => 'form-centered' } do |f| %>
          <div class="form-group">
            <div class="col-form-label">
              <%= f.label :name, 'Gift name', :class => 'control-label' %>
            </div>
            <div class="col-form-input">
              <%= f.text_field :name, :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-form-label">
              <%= f.label :description, :class => 'control-label' %>
            </div>
            <div class="col-form-input">
              <%= f.text_area :description, :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-submit">
              <%= f.submit 'Submit Gift Purchased', :class => 'btn btn-submit' %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if current_user?( @user ) %>
    <div class="col-info">
      <h3>My Purchased Gifts</h3>
      <ul class="gift-list">
        <% @user.gifts_purchased.sort_by( &:created_at ).each do |gift| %>
          <p class="name"><%= gift.name %></p>
          <p class="description"><%= gift.description %></p>
          <p class="buyer">Purchased for: <%= link_to gift.user.full_name, user_path( gift.user ) %></p>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>
</div>

<script>
  $(document).ready( function() {
    $('.mark-gift-purchased-link').click( function( event ) {
      if( confirm( 'Really mark this purchased? This can not be undone.' ) ) {
        if( confirm( 'Copy new item to purchased list?' ) ) {
          var href = $(sender).attr( 'href' ) + "&amp;copy_item=true";
          $(sender).attr( 'href', href );
        }
        return true;
      } else {
        event.preventDefault();
        return false;
      }
    });
  })

  function checkGiftRequests( sender ) {
    if( $(sender).find( '#gift-requests .gift-request-fields' ).size() > 0 ) {
      return true;
    } else {
      alert( 'Please add a gift before submitting.' );
      return false;
    }
  }
</script>