<!DOCTYPE html>
<html>
<head>
  <title>Wishlist</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wl-body">
    <%= render 'shared/header' %>
    <div class="wl-content">
      <%= render 'shared/flash' unless flash.empty? %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </div>
  <%= debug(params) if Rails.env.development? && params[:debug] %>
</body>
</html>
